<div class="container">
  <a href="go_to-link" routerLink="">Go to Calendar</a>

  <form (ngSubmit)="add(taskNgForm)" #taskNgForm="ngForm">
    <div class="input-group-calendar">
      <div class="calendar-input">
        <input
          readonly
          name="date"
          type="text"
          [(ngModel)]="date"
          aria-label="lorem ipsum"
          [matDatepicker]="picker"
        />
        <mat-datepicker-toggle [for]="picker"></mat-datepicker-toggle>
      </div>
      <mat-datepicker #picker></mat-datepicker>
    </div>
    <div class="todo-list">
      <div class="input-group">
        <input
          required
          type="text"
          placeholder="Todo"
          #newTask="ngModel"
          minlength="4"
          [(ngModel)]="newTaskTitle"
          name="taskTitle"
        />
        <button class="add-button">+</button>
      </div>
    </div>
  </form>
  <div
    *ngIf="newTask.invalid && (newTask.touched || newTask.dirty)"
    class="validation-error"
  >
    <div *ngIf="newTask.errors?.['required']">Task title required.</div>
    <div *ngIf="newTask.errors?.['minlength']">
      Task title must at least have 4 characters.
    </div>
  </div>

  <table id="customers">
    <tr class="even" *ngFor="let task of tasks; let i = index">
      <th [class.is-done]="task.isDone">{{ task.title }}</th>
      <div class="button-group">
        <button class="remove-button" (click)="remove(task)">X</button>
        <button class="d-button" (click)="toggleDone(task)">
          {{ task.isDone ? "Uno" : "Not Done" }}
        </button>
      </div>
    </tr>
  </table>
</div>
